body{
    background-color: rgb(255, 255, 255);
color: rgb(37, 33, 33);
 text-align: center;

}

#f3 {
    color: rgb(8, 146, 49);
    font-size: 45px;
    
}
 
#divisor{
    height: 30px;
}
#ilha{
    
    
}

